@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
.carousel-inner img {
    height: 400px;
}
.checked {
    color: orange;
}
h2,h3 {
    font-family: 'Poppins', sans-serif;
}
.offer {
    position: absolute;
    right: 0px;
}
.hot-packege {
    background-color: rgba(0, 183, 255, 0.116);
}
i {
    margin-right: 2px;
}